.progressCard{  
  max-height: 130px;
  max-width: 500px;
  background: #ffffff;
  border-radius: 50px;
  border: none;
  overflow: hidden;
  padding-top: 20px;
  box-shadow:0px 24px 48px 0 rgba(0,0,0,0.1);
  align-items: center;
}
.levelProgress{
  height: 100px;
 
 
}
.progressCard .imgBx{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.progressCard  .progressBtn{
  padding: 5px 12px;
  margin-top: 15px;
  color:white;
  border: none;
  border-radius: 100px;
}
.progressGrid{
  display: grid;
  grid-gap: 2rem;
  padding: 1rem;
  max-width: 1150px;
  margin: 0 auto;

}

@media (min-width: 600px) {
  .progressGrid {
      grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width:800px) {
  .progressGrid {
      grid-template-columns: repeat(1, 1fr);
  }
}
